
.container{
    padding: 50px 20px;
    position: relative;
}

.blueBox {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(178deg, #0b8de3, #f7f9fb);
    background-size: 400% 400%;
    -webkit-animation: blueBox 22s ease infinite;
    -moz-animation: blueBox 22s ease infinite;
    animation: blueBox 22s ease infinite;
    
}

@-webkit-keyframes blueBox {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@-moz-keyframes blueBox {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}
@keyframes blueBox {
    0%{background-position:56% 0%}
    50%{background-position:45% 100%}
    100%{background-position:56% 0%}
}

.container .flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 60px;
}

.container .flexContainer img{
    width: 300px;
    margin: 60px 20px;
}

.textheading{
    font-family: var(--font2);
    font-size: var(--fontsz1);
    padding: 5px;
    position: absolute;
    top: 65px;
    left: 35px;
    background: rgb(80, 146, 218);
    background: radial-gradient(circle, rgb(240, 241, 242) 0%, rgba(250, 250, 250, 0.583)50%, rgba(249, 249, 249, 0.083)100%);
}

.container .paragraph{
    font-family: var(--font2);
    color: var(--black);
    font-size: var(--fontsz0);
    line-height: 1.8rem;
    width: 80%;
    text-align: justify;
    color: var(--black);
}

@media (max-width: 1148px) {
    .container .flexContainer{
        padding-left: 10px;
    }
    .container .paragraph{
        /* font-size: 22px; */
        width: 100%;
    }
    
}



